.homeIcon{
    display: flex;
    align-items: center;
}
.homeIcon__container{
    display: flex;
    width: 100%;
    justify-content: center;
}
.homeIcon__link{
    text-decoration: none;
    margin-right: 10px;
}
.homeIcon__link > .MuiSvgIcon-root{
    font-size: 1.5rem;
    color: var(--primary-color);
}

/* Responsive */
@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 1024px) {
 
}

@media screen and (max-width: 768px) {
   
}

@media screen and (max-width: 576px) {

}
/* End of responsive */