.infoPage {
  height: 85vh;
  width: 90vw;
}
.infoPage__container {
  display: flex;
}
.infoPage__right {
  flex: 0.8;
}
.infoPage__right__container {
  display: flex;
  justify-content: space-around;
}
.infoPage__right__detail::-webkit-scrollbar {
  display: none;
}
.infoPage__right__detail {
  padding-left: 15px;
  overflow-y: scroll;
  height: 80vh;
}
.infoPage__right__item {
  width: 200px;
  display: flex;
  padding-left: 40px;
  position: relative;
  border-left: 1px solid var(--primary-color);
  margin: 30px 0;
}
.infoPage__right__item--icon {
  width: 30px;
  height: 30px;
  background: var(--primary-color);
  border-radius: 999px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: -8%;
}
.infoPage__right__item--icon > .MuiSvgIcon-root {
  color: white;
  font-size: 1.2rem;
  font-weight: 700;
}
.infoPage__right__item--text > p {
  font-size: 13px;
  background: rgb(238, 238, 238);
  width: 115px;
  text-align: center;
  border-radius: 30px;
  font-weight: 700;
  color: var(--grey-color);
}
.infoPage__right__item--text > h6 {
  font-size: 15px;
  color: var(--primary-color);
}
.infoPage__right__item--text > h6 > span {
  font-size: 13px;
  color: var(--lightGrey-color);
  font-weight: 700;
}
.infoPage__right__item--text > span {
  font-size: 14px;
}
.infoPage__education__button {
  font-size: 14px;
  padding: 2px 20px;
  border-radius: 30px;
  border: 1px solid var(--primary-color);
  background: transparent;
  color: var(--primary-color);
  font-weight: 500;
}
.infoPage__left {
  flex: 0.3;
  height: 88vh;
  box-shadow: -0.2px 0px 5px 0.2px rgba(112, 112, 112, 1);
  border: none;
}

.infoPage__left__imgContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 20px 0;
  height: 25vh;
}
.infoPage__left__profilePic {
  width: 85px;
  height: 85px;
  border-radius: 999px;
  background: url("https://res.cloudinary.com/dufh7rv0n/image/upload/v1621064188/profile_w9elu2.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.infoPage__left__container {
  display: flex;
  flex-direction: column;
}
.infoPage__left__content {
  background: #f4f4f6;
  height: 63vh;
  padding: 0 30px;
}
.infoPage__content__body {
  height: 53vh;
  overflow: scroll;
}
.infoPage__content__body::-webkit-scrollbar {
  display: none;
}
.infoPage__content__text,
.infoPage__content__skill {
  padding: 20px 0;
  border-bottom: 1px solid rgb(195, 195, 195);
}
.infoPage__content__item {
  display: flex;
  justify-content: space-between;
}
.infoPage__content__item > h6 {
  font-size: 14px;
  font-weight: 700;
}
.infoPage__content__item > span {
  font-size: 15px;
}
.infoPage__content__skill{
    display: grid;
    grid-template-columns: auto auto;
}
.infoPage__skill__item{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.infoPage__skill__item > img{
    width: 35px;
}
.infoPage__skill__item.react > img{
    width: 40px;
}
.infoPage__content__subSkill{
    padding: 20px
    ;
}
.infoPage__subSkill__item{
    display: flex;
    align-items: center;
}
.infoPage__subSkill__item > .MuiSvgIcon-root{
    color: var(--primary-color);
    margin-right: 5px;
}
.infoPage__content__footer {
  height: 10vh;
  padding-top: 10px;
  border-top: 1px solid rgb(195, 195, 195);
}
.infoPage__footer__text{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.infoPage__footer__text>:focus, .infoPage__footer__text:hover{
  text-decoration: none;
}
.infoPage__footer__text > span{
    color: var(--grey-color);
}
.infoPage__footer__text > .MuiSvgIcon-root{
    font-size: 1.3rem;
    color: var(--grey-color);
    margin-left: 8px;
}
.infoPage__icon {
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
}
.infoPage__link > .MuiSvgIcon-root{
    font-size: 1.3rem;
    color: var(--grey-color);
    transition: 0.5s ease-in-out;
}
.infoPage__link > .MuiSvgIcon-root:hover{
    color: var(--primary-color);
}
/* Responsive */
@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 768px) {
  .infoPage {
    margin-top: 30px;
    height: 100vh;
    width: 100%;
  }
  .infoPage__container {
    flex-direction: column-reverse;
  }
  .infoPage__right__container {
    flex-direction: column;
  }
  .infoPage__right__detail {
    height: 100%;
    overflow-y: unset;
  }
  .infoPage__right__item {
    width: 100%;
  }
  .infoPage__right__item--icon {
    left: -2.5%;
  }
  .infoPage__experience,
  .infoPage__education {
    border-top: 0.5px solid rgb(218, 218, 218);
    padding-top: 30px;
  }
  .infoPage__left{
      flex: 1;
      box-shadow: none;
      padding: 0;
      height: 100%;
  }
  .infoPage__left__content {
      padding: 0;
      background: none;
      height: 100%;
      overflow: unset;
  }
  .infoPage__content__body{
    overflow: unset;
    height: 100%;
  }
  .infoPage__content__text{
      width: 100%;
  }
  .infoPage__link > .MuiSvgIcon-root{
    color: var(--primary-color);
  }
  .infoPage__icon{
    display: none;
  }
}

@media screen and (max-width: 576px) {
  .infoPage__right__item--icon {
    left: -4.9%;
  }
  .infoPage__footer__text > span, .infoPage__footer__text > .MuiSvgIcon-root {
    color: var(--primary-color);
    font-weight: 700;
    font-size: 22px;
  }
}
/* End of responsive */
