.project{
    padding: 0px 35px;
}
/* Responsive */
@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 1024px) {
 
}

@media screen and (max-width: 768px) {
    .project{
        padding: 0 10px;
    }
}

@media screen and (max-width: 576px) {
.project{
    height: 87vh;
}
}
/* End of responsive */