.projectItem {
  grid-area: 1/-1;
  --x: calc(var(--px) -0.5);
  transform: translateX(calc(100% * var(--offset)))
    rotateY(calc(-25deg * var(--dir)));
  transition: transform 0.5s ease-in-out;
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 470px;
  opacity: 0.8;
}
.projectItem[data-active] {
  --x: calc(var(--px) - 0.5);
  --y: calc(var(--py) - 0.5);
  transform: translateZ(100px);
  transition: 0.8s ease-in-out;
  opacity: 1;
}
.projectItem[data-active]:hover {
  transition: 1s ease-out;
  transform: rotateY(-20deg) rotateX(10deg);
}
.projectItem__image {
  height: 350px;
  width: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 10px;
  cursor: pointer;
}
.projectItem__text {
  display: none;
  width: 100%;
  margin-top: 20px;
}
.projectItem__text > .MuiBadge-root > .MuiBadge-anchorOriginTopRightRectangle {
  right: -30px;
}
.projectItem__text > .MuiBadge-root > h5 {
  font-size: 25px;
  font-weight: 700;
  color: var(--primary-color);
}
.projectItem__text > p {
  font-size: 18px;
  color: var(--grey-color);
}
.projectItem[data-active] .projectItem__text {
  display: block;
  transform: translateX(0);
  transition: 1s ease-in-out;
}
/* Responsive */
@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 768px) {
  .projectItem {
    margin: 0;
    width: 250px;
  }
  .projectItem__text > h5 {
    font-size: 20px;
  }
  .projectItem__text > p {
    font-size: 15px;
  }
}

@media screen and (max-width: 576px) {
}
/* End of responsive */
