.projectPage{
    height: 87vh;
    width: 90vw;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.projectPage__container{
    display: grid; 
    transform-style: preserve-3d;
    perspective: 800px;
}
.projectPage__button{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.projectPage__button > .MuiSvgIcon-root{
    font-size: 1.8rem;
    color: var(--primary-color);
    margin: 0 10px;
    cursor: pointer;
}

/* Responsive */
@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 1024px) {
 
}

@media screen and (max-width: 768px) {
    .projectPage__container{
        padding: 0;
        margin-top: 100px;
    }
    .projectPage{
        width: 100vw;
    }
}

@media screen and (max-width: 576px) {

}
/* End of responsive */