body{
    --dark-color: #141414;
    --white-color: #ffffff;
    --primary-color: 	#05054a;
    --lightPrimary-color:#1d1d7a;
    --secondary-color: #f5f3eb;
    --grey-color: gray;
    --lightGrey-color:rgb(195, 195, 195);
}
/* Responsive */
@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 1024px) {
 
}

@media screen and (max-width: 768px) {
   
}

@media screen and (max-width: 576px) {

}
/* End of responsive */